<footer id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5 routerLink="/sell-rawland">Sell Your Asset</h5>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5 routerLink="/allproperties">Asset Lookup</h5>
				</div>
				
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5 routerLink="/need-analysis">Need Analysis</h5>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5 href="https://academy.rmehub.in/">Get Certified</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="http://www.rmehub.in/">Realistic Means of Exchange</a></u> is a Registered product of Immobilier Technologies Private Limited with registration number 343788</p>
				</div>
			
			</div>	
    </div>     
  </footer>

  <div class="footer-bottom">
      <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4 col-sm-12 terms">
          <a routerLink="/termsofuse" class="mr-4">Term of Use</a>
          <a routerLink="/policy">Privacy Policy</a>
        </div>
        <div class="col-md-12 col-lg-4 col-sm-12 copyright">
          <span >© 2019 Launch. All rights reserved.</span>
        </div>
        <div class="col-md-12 col-lg-4 col-sm-12 social ">
          <a class="mr-3 social-btn twitter"><i class="fa fa-twitter"></i></a>
          <a class="mr-3 social-btn fb"><i class="fab fa fa-facebook"></i></a>
          <a class="mr-3 social-btn ln"><i class="fab fa fa-linkedin"></i></a>
        </div>
      </div>
      </div>
    </div>
  