
<div *ngIf="isLoading" class="overlay">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  
  
  <section class="wrapper-post">
    <div class="container">
  
      <div class="postproperty card-body">
          <div class="strip">
              <span>Land Name: {{singleview.propertyName}}</span>
              <!-- <span>Views : {{singleview.views}}</span> -->
            </div>
     <div class="row">
  <div class="col-lg-3">
    <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
      <div *nguCarouselDef="let item;" class="item">

          <span *ngIf="singleview.dimentionDocument.limages; else imageloc">
              <a href="{{singleview.dimentionDocument.limages}}" data-lightbox="roadtrip">   
                <img data-lightbox="roadtrip" src="{{singleview.dimentionDocument.limages[0]}}" alt="img"></a>
          </span>
          <ng-template #imageloc>
              <a href="assets/images/land.jpg" data-lightbox="roadtrip"> <img src="assets/images/land.jpg"></a>
          </ng-template>
          <!-- <a href="{{item}}" data-lightbox="roadtrip"> <img src="{{item}}"></a> -->
      </div>
     <!-- <div class="carousel-nav"> -->
      <span NguCarouselNext class="rightRs"><i class="fa fa-angle-right"></i></span>
      <span NguCarouselPrev class="leftRs"><i class="fa fa-angle-left"></i></span>
    <!-- </div> -->
      <!-- <ul class="myPoint" NguCarouselPoint>
          <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
      </ul> -->
  </ngu-carousel>
  </div>
  
  <div class="col-lg-9">
    <div class="prop_spec"> 
  <div class="row">
    <div class="col-lg-6">
        <table class="table">
          <tr>
                <td>Land Name</td>
                <td>{{singleview.propertyName}}</td>
              </tr>
            <tr>
            
            <tr>
                <td>Khasra Number</td>
                <td>{{singleview.propertySpecifications.khasraNo}}</td>
              </tr>
  
           <tr>
             <td>Khata Number</td>
             <td>{{singleview.propertySpecifications.khataNo}}</td>
           </tr>

         

          </table>
    </div>
  
    <div class="col-lg-6">
        <table class="table">
           
          
            <tr>
                <td>City</td>
                <td>{{singleview.locationDetails.city}}</td>
              </tr>
    
              <tr>
                <td>Market Place</td>
                <td>{{singleview.marketplace}}</td>
              </tr>
              <tr>
                  <td>Area Dimension</td>
                  <td>{{singleview.dimentionDocument.acres}} Acres</td>
                </tr>
      
          </table>
      </div>
    </div>
  </div>
  
  </div>
  </div>
   </div>
  
  <!--  -->
  
  <!--  -->
   <section class="property-specif">
   <div class="row">
          <div class="col-lg-8">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link" id="nav-detail-tab" data-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="false">Location</a>
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Property Specification</a>
                <a class="nav-item nav-link" id="nav-doc-tab" data-toggle="tab" href="#nav-doc" role="tab" aria-controls="nav-doc" aria-selected="true">Property Document</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
  
                <div class="tab-pane fade" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                 
              <div class="card">
                    <div class="card-body">
                    
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                          </agm-map>
    
                    </div>
                  </div>

                  <div class="card">
                      <div class="card-body">
                          <table class="table table-striped">
                                   <tr>
                                  <td>Land Owner</td>
                                  <td>{{singleview.uploadedBy}}</td>
                              </tr>
                            </table>
                            <h5 class="card-header">Project Description</h5>
                             <p></p>
                               </div>
              </div>
    
                <div class="card">
                 <div class="card-body">           
                   <div class="card-header"><h5>Land Address</h5></div>
                   <table class="table table-striped">
                      <h6 style="width:100px">Address</h6> 
                      <tr>  
                          <td>Address</td>
                         <td>{{singleview.locationDetails.addressLineOne}}</td>
                        </tr>
                        <tr>  
                            <td>Map Location</td>
                           <td>{{singleview.locationDetails.mapLocation}}</td>
                          </tr>
                   </table>
    
                   <table class="table">
                      <tr>
                          <td>State</td>
                          <td>{{singleview.locationDetails.state}}</td>
    
                          <td>City</td>
                          <td>{{singleview.locationDetails.city}}</td>     
                        </tr>
                     <tr>
                    <td>District</td>
                    <td>{{singleview.locationDetails.district}}</td>
                    <td>Tehsil</td>
                    <td>{{singleview.locationDetails.tehsil}}</td>
                    </tr>
                      <tr>
                          <td>PinCode</td>
                          <td>{{singleview.locationDetails.pincode}}</td>
                         </tr>
                   </table>
                 </div>
               </div>
    
                </div>

              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            
        
            <div class="card">
              <div class="card-body">
                  <div class="card-header"> <h5>Land Section</h5></div>
                 <table class="table table-striped " >
                    <tr>
                        <td>Khasra Number</td>
                        <td>{{singleview.propertySpecifications.khasraNo}}</td>
                      </tr>
          
                   <tr>
                     <td>Khatra Number</td>
                     <td>{{singleview.propertySpecifications.khataNo}}</td>
                   </tr>
                 </table>
               
              </div>
            </div>
  
  
            <div class="card">
              <div class="card-body">
                  <div class="card-header"><h5>Facing Location</h5></div>
                 <table class="table table-striped ">
                     <tr *ngIf="singleview.propertySpecifications.sajra.NORTH">
                      <td>North Place</td>
                      <td>{{singleview.propertySpecifications.sajra.NORTH}}</td>
                     </tr>
  
                     <tr *ngIf="singleview.propertySpecifications.sajra.EAST">
                        <td>East Place</td>
                        <td>{{singleview.propertySpecifications.sajra.EAST}}</td>
                     </tr>

                     <tr *ngIf="singleview.propertySpecifications.sajra.WEST">
                     <td>West Place</td>
                     <td>{{singleview.propertySpecifications.sajra.WEST}}</td>
                    </tr>

                    <tr *ngIf="singleview.propertySpecifications.sajra.SOUTH">
                        <td>South Place</td>
                        <td>{{singleview.propertySpecifications.sajra.SOUTH}}</td>
                     </tr>
       
                 </table>
              </div>
            </div>
  
      
  
         </div>
  
           <div class="tab-pane fade" id="nav-doc" role="tabpanel" aria-labelledby="nav-doc-tab">
                  <div class="card" *ngIf="singleview.dimentionDocument?.landMap.length">
                      <div class="card-body">
                          <div class="card-header"><h5>Land Map:</h5></div>         
                          <div class="ownername">
                              <ul>
                                <li *ngFor="let data of singleview.dimentionDocument?.landMap">
                                  <img src="{{data}}" alt=""/>
                                </li>
                              </ul>
                            </div>  

                          </div>
                          </div> 
    
    </div>
  </div>

</div>
  
  
  <div class="col-lg-4">

    <div class="card">
      <div class="card-body">
        <h5>Contact Seller</h5>
        <form>
    <div class="form-group">
        <i>Name: </i>
        <input type="text"  (keypress)="alphabet($event)" [(ngModel)]="name" name="name"  class="form-control" placeholder="Enter Your Name">
      </div>

      <div class="form-group">
          <i>Email: </i>
          <input type="email" [(ngModel)]="email" name="email" class="form-control"  placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <i>Phone No: </i>
            <input type="text" maxlength="10" [(ngModel)]="mobileNo" name="mobileNo" class="form-control"  placeholder="Enter Your Mobile">
          </div>

          <div class="form-group">
            <i>City: </i>
            <input type="text" (keypress)="alphabet($event)" [(ngModel)]="city" name="city" class="form-control"  placeholder="Enter Your City">
          </div>

          <div class="form-group">
              <i>State: </i>
            <select  name="type" (click)="togglestate($event)" id="property-type" class="form-control" placeholder="Please select Categories" required>
              <option *ngFor="let item of statedata"  [value]="item.name">
              {{ item.name}}
              </option>
              </select>
            </div>

          <div class="form-group default_bg">
                    <div class="custom-control custom-checkbox">
                  <input id="nob1" type="checkbox" class="custom-control-input" value="No">
                  <label class="custom-control-label" for="nob1">I'm agree to all Terms & Condition</label>
                </div>
                </div>

                <button class="read-more" type="submit" name="submit" (click)="ContactSubmit()"><span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>Get Contact Detail</button>

      </form>
      </div>
    </div>

  </div>
  
        </div>
  
   </section>
  
  
  
      </div>
      </section>