.card-header {
    margin: 5px 0px;
    padding: 10px 0px 10px 5px;
}

#nav-tabContent h6 {
    margin: 10px 0px;
    padding: 7px 2px;
}

.item span img {
    height: auto;
    width: 100%;
}

#nav-home table tr td
{
    text-align: left;
    padding: 10px 10px;
}

.nav-fill .nav-item {
    width: auto !important;
}
.ownername ul li {
    float: left;
    width: 23%;
    margin-right: 13px;
    list-style-type: none;
}
.ownername ul li img {
    height: 144px;
    width: 100%;
}
.ownername ul {
    margin: 0px;
    padding: 0px;
}