

#nav-tabContent h6 {
    margin: 10px 0px;
    padding: 7px 2px;
}

.item span img {
    height: auto;
    width: 100%;
}

.strip span {
    text-transform: capitalize;
}

span.vname {
    margin-top: 14px;
    display: inherit;
}

.vendor {
    display: inline-block;
    padding: 10px 0px 0px 0px;
}

.vendor img {
    height: auto;
    width: 20%;
    /* height: 50px; */
    border-radius: 50px;
    margin:auto;
    display: block;
}

.viewer_contactform .custom-checkbox {
    text-align: center;
}

.viewer_contactform button.read-more {
    margin: auto;
    display: block;
    /* width: 100%; */
}

#nav-home table tr td
{
    padding: 10px 10px;
    text-align: left;
}
#nav-furnish ul li{
    font-size: 15px;
    line-height: 34px;
}

.nav-fill .nav-item {
    width: auto !important;
}
