.card {
    margin: 10px 0px;
}

.buy-filter h6 {
    font-weight: 600;
}

.flooring {
    margin: 5px 0px;
}

.statedrop ul.dropdown-menu li {
    padding: 3px 8px;
    margin: 0px;
    cursor: pointer;
}
.statedrop ul.dropdown-menu li label{
    cursor: pointer;
}

.showunavailabledata {
    padding: 12px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0px;
    font-size: 17px;
}

.buy-filter label.custom-control-label {
    cursor: pointer;
}

.page-item:first-child .page-link, .page-item:last-child .page-link
{
    border-radius: 50px;
}

.statedrop ul.dropdown-menu
{
    height: 250px;
    overflow-x: scroll;
    margin-left: -11px;
    width: 110%;

}

.statedrop a.dropdown-toggle {
    color: #000 !important;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
}

ul.statedrop {
    border: 1px solid #ccc;
    padding: 0px 10px;
    list-style-type: none;
}

.filter {
    margin-top: 10px;
    float: right;
}

.card-body.backg {
    padding: 11px;
}


.product-sec li.nav-item {
    width: 20%;
    text-align: center;
    padding: 0px;
}
.fixed {
    position:fixed;
    top:0;
    width: 22.5%;
}

.address
{
    display: inherit;
}



.modal-dialog
{
    max-width: 430px;
}
.modal-body
{
    padding: 10px 30px;
}


.img_section
{
    margin: 0px;
}
.page-link
{
    background-color: #6e8fff;
    border-radius: 50px;
}

.highlight a
{
    background-color: #000 !important;
}
.img_section img
{
    width: 100%;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}



.backg{
    background-color: #fff;
}

.card-header {
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}

.card-header a {
    color: #000 !important;
}

.product-sec .nav-item .nav-link
{
  padding: 10px;
}



.product-sec {
    margin-top: 10px;
}

// .prop-description {
//     margin: 15px 0px;
// }


#home a, #menu1 a
{
    color: #000 !important;
}