
.postproperty .form-group {
    padding: 1px 20px;
    margin: 0px;
    background-color: #e8e8e8;
    margin:10px 0px;
}


.resindetialpricing .form-group
{
padding: 0px;
}

.bathroom span {
    color: #868282;
}

#showpropdata {
    margin-right: 10px;
    cursor: pointer;
    border: none;
}

.data_preview {
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}


.card.steptwo.rooms table, .card.steptwo.landmark table {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}


.compass {
    position: absolute;
    right: 0px;
    left: 0px;
    width: 17%;
    margin: auto;
    text-align: center;
    /* top: 74px; */
    margin-top:91px;
}

.facing_inner .col-lg-4
{
border: 1px solid #dee2e6;
text-align:center;
padding: 10px;
}

.facing_inner {
    width: 70%;
    margin: auto;
}


.notehide
{
    display: none;
}

.steptwo.bathroom span{
    background:none;
    padding: 0px;
    text-align: left;
}


.numbercount i{
    position: absolute;
    right: -5px;
    top: 10px;
}


#fa_sub{
    position: absolute;
    cursor: pointer;
    right: 2px;
    border-radius: 50px;
    color: #5879e8;
    top: 0px;
    font-size: 20px;
    margin-top: 6px;
    padding: 4px;
}

#fa_plus
{
    color: #000;
    background-color: #ffffff;
    padding: 7px 0px 0px 9px;
    height: 29px;
    position: absolute;
    cursor: pointer;
    border-radius: 50px;
    left: 308px;
    width: 29px;
    margin-top: 26px;
    z-index: 999;
}

.facing .table tr td:nth-child(1) {
    font-weight: 400;
}

.bathroom .custom-control.custom-radio {
    margin: 0px !important;
}

.card-body.buttonsec.dimen
{
    display: flow-root;
}
.price_feature {
    background-color: #dedede;
    padding: 20px 10px;
}

.pricing .form-group.row {
    margin: 10px 0px !important;
    /* display: inline-block; */
}

.postproperty .card.overviewform {
    margin: 20px 0px;
}

.post_edit {
    text-align: right;
    display: block;
    color: #324173 !important;
    font-size: 15px;
    cursor: pointer;
}

.imageupload img {
    width:20%;
    margin: 0px 10px;
    /* margin: auto; */
}

.buttonsec h5{
    cursor: pointer;
    margin-top:10px;
}

.balcony_dimension i {
    background-color: #ccc !important;
    padding: 12px 41px;
    margin-top: 20px;
    display: inline-block;
}

.fa-spinner.fa-spin {
    font-size: 20px;
    margin-left: 5px;
}

.price_word {
    display: inline-block;
    width: 100%;
    margin: 7px;
    font-weight: 600;
    text-transform: capitalize;
}

.steptwo.facing .default_bg {
    padding: 0px !important;
}

.cursorcheck
{
    cursor: not-allowed;
}

.card-body.buttonsec i {
    color: #fff !important;
}

.overall-progress ul li {
    padding: 15px;
    list-style-type: none;
    font-size: 15px;
    cursor: pointer;
    background-color: #5879e8;
    color: #fff;
    margin: 10px 0px;
}

a.over_all {
    color: #000 !important;
}

.overall-progress ul {
   padding: 0px;
}

.resindetialpricing .form-group.row
{
  background: none;
}

.custom-control-label::after, .custom-radio .custom-control-label::before
{
    content: none;
}
.custom-control-label::after, .custom-checkbox .custom-control-label::before
{
    content: none;
}
// .default_bgK
// {
//     background-color:#e8e8e8;
// }
.buttoncolor
{
    background-color: #5879e8 !important; 
    color: #fff;
}

.custom-control-input:checked .custom-control-indicator{
    color:white;
    background-color:red;
    }

.dimension .red
{
    font-size: 12px;
    color: red;
}

//     .custom-control-input:checked ~ .custom-control-label
// {
//     border-color: #007bff !important;
//     color: #fff !important;
//     background-color: #007bff !important;
// }

.form-control {
    border-radius: 0px;
    padding: 10px !important;
    height: auto;
  
}

.postproperty .custom-control {
    // float: left;
    margin: 10px 0px 10px 0px;
    padding: 0px;
  
}

.postproperty .facili .custom-control
{
    width: 50%;
}
agm-map {
    height: 300px;
    // margin: 20px;
  }


  .postsec {
    margin: 15px 0px;
}


.card.specif {
    padding: 10px 10px;
    margin: 15px 0px;
}

.form-row {
    margin: 5px 0px;
}

// .custom-control.custom-checkbox {
//     width: 140px;
// }
.postproperty img { margin-top: 5px;}
.wrapper-post h4 {
    text-align: center;
    padding: 25px;
}
.postproperty .item span {
    color: #000;
    margin-top: 20px;
}
label.upload-btn-profie {
    width: 100% !important;
}
.postproperty label {
    font-size: 16px;
    font-family: arial;
    cursor: pointer;
    width: 80%;
    // font-weight: 600;
    height: 100%;
    padding:10px 18px;
}

.postproperty .count-sec label {
    font-size: 16px;
    font-family: arial;
    cursor: pointer;

    // font-weight: 600;
    height: 100%;
    padding: 2px 10px;
}

.postproperty .facing label {
    
    width: 100%;
}

.product_sub {
    background-color: #faaa6d;
    padding: 0px 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
.prodcuct_add {
    padding: 0px 10px;
    background-color: #ea8c44;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn-group.count-sec {
    margin-top: 10px;
    padding: 0px 10px;
  float: right;
    color: #fff;
    position: absolute;
    right: 0px;
}

.btn-group.radio-group {
    padding: 0px 10px;
  float: right;
    color: #fff;
    /* background-color: #faaa6d; */
}


     .text {
        margin: auto;
        left: 0;
        text-align: center;
        right: 0;
        top: 45px;
        position: absolute;
        width: 70%;
        padding: 25px;
        background-color: #5879e8;
}

.textraw {
    margin-top: 20px;
        padding-top: 62px;
        margin: auto;
        left: 0px;
        text-align: center;
        right: 0px;
        position: absolute;
        background-color: #5879e8;
}

a.info_to0ltip {
    float: right;
}

.mandat {
    display: inline-block;
    color: red;
    font-size: 12px;
}

.red{
    color:red;
}

.card.upload_sec {
    padding: 0px 20px;
}

.overlay.upload-btn-wrap {
    position: absolute;
    height: 224px;
    width: 217px;
    display: none;
    background-color: #324174cc;
    text-align: center;
    top: -3px;
}


.profile_img:hover .overlay1 {
   display: block;
   opacity: 1;
  }

.upload-btn-profie .fa {
    display: block;
}

#imageUpload, #imageUploadb
  {
      display: none;
 }

 .profile_img {
    // height: 200px;
    width: 220px;
    position: relative;
    margin: auto;
    display: block;
}

.img_sec img{
    height: auto;
    width: 100%;
}

#back {
    margin: 0px 10px;
}

.post_discuss_img img {
    float: inherit !important;
    padding: 5px;
}

.post_discuss_img li {
    list-style-type: none;
    float: left;
    margin: 0px 5px;
  
    width: 150px;
    /* display: inherit; */
}

.dimension .custom-control.custom-switch {
    margin: 0px !important;
}


.facing .table.table-bordered{
    width: 60%;
    text-align: center;
    /* height: 60% !important; */
    margin: auto;
}

.east.default_bg .custom-control.custom-radio {
    margin-top: 27px;
}

.west.default_bg .custom-control.custom-radio {
    margin-top: 27px;
}

#overviweformedit .table tr td:nth-child(1) {
    width: 40%;
}

.form-row{
    margin: 12px 0px;
}
  
.fa-star {
    color: red;
    font-size: 7px;
    position: absolute;
}

.rawlocation label, .maplocate label {
    padding-left: 0px !important;
}

#spinload {
    color: #192467;
    font-size: 28px;
    position: absolute;
    right: 19px;
    margin-top: -33px;
}

.card.steptwo.area {
    display: block;
}

button.next-btn.uploadBlue-step span {
    padding: 0px !important;
    background: none !important;
    display: contents !important;
}

.stepone span, .stepthree span, .stepfour span, .stepfive span{
    text-align: center;
    font-size: 18px;
    font-family: arial;
    display: block;
    background-color: #e8e8e8;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.prog_tooltip {
    position: absolute;
    z-index: 999;
    top: -50px;
    background-color: #000;
    color: #fff;
    left: 0px;
    padding: 9px 23px;
    border-radius: 10px;
}

.moveright
{
    left: 10px !important;
}

.moveleft
{
    left: 0px !important;
}


.prog_tooltip::after
{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    top: 38px;
    left: 45%;
    margin-left: -8px;
}

.steptwo span, .modal span
{
    text-align: center;
    font-size: 15px;
    font-family: arial;
    display: block;
    background-color: #e8e8e8;
    padding: 10px;
    cursor: pointer;
}
.mapimg img {
    height: 0%;
    width: 20%;
    margin: auto;
}

.maplocate .form-group, .dimension .form-group, 
.rawlocation .form-group, .postproperty .facing .form-group, 
.postproperty .propertygallery .form-group, .postproperty .balcony .form-group, 
.postproperty .pricing .form-group, .postproperty .propertydimension .form-group,
.postproperty .frontyardlawn .form-group, .postproperty .backyardlawn .form-group,
.postproperty .projectname .form-group, .rawfacing .form-group, 
.rawkhasranumber .form-group, .rawownershipdoc .form-group, .rawsaleseed .form-group,
.rawpropertyimages .form-group, .rawlandmapnext .form-group, .rawapprovalcertify .form-group,
.rawtitleclearcertify .form-group, .rawduecertificates .form-group, .rawlandcertificate .form-group,
 .rawclearcertify .form-group, .rawvaluationcertify .form-group, .rawdimension .form-group {
    padding: 0px !important;
    background: none !important;
    // margin: 0px !important;
}

.overlay .form-control {
    display: none;
}

.area {
    padding: 10px 0px;
    display: inline-block;
}

.postproperty .bathroom .form-group
{
    padding: 0px;
    margin:-15px 0px 0px 0px;
}



.next-btn {
    float: right;
}

.back-btn
{
    float: left;
}

.fa-check-circle {
    float: right;
    font-size: 22px;
}

.card.steptwo.facing img {
    margin: 0px !important;
    padding: 0px;
}


.current_locat img {
    float: left;
    /* display: inline-block; */
    margin: 1px 7px 0px 0px;
}

.current_locat {
    display: inline-block;
    width: 100%;
    margin: 62px 0px 0px 0px;
    cursor: pointer;
}

.current_locat p {
    margin-top:2px;
    font-size: 12px;
    color: #000;
}

.postproperty label
{
    width: 85%;
}


