<section class="wrapper-post">
    <div class="container postproperty">
     <div class="row">
  <div class="col-lg-2 col-md-1 col-sm-1"></div>
  <div class="col-lg-8 col-md-12 col-sm-12">
      <form> 
          <div class="card overall-progress"> 
              <div class="card-body">
            <h4><i class="fa fa-lock"></i><br/>
               Please change your password</h4>
                <div class="row">                       
            <div class="col-lg-12">
                <div class="form_table">
               <form [formGroup]="ChangePasswordForm" (ngSubmit)="ChangePass()">  
                    <table class="table reset">
                      <tr>              
                      <td>Current Password</td>      
                      <td class="form-group has-danger">
                          <input [type]="showbuttonvalue == 'Hide' ? 'text' : 'password'"  class="form-control" required
                         formControlName="oldpassword" name="oldpassword" [(ngModel)]="oldpassword"  placeholder="Current Password"
                         [ngClass]="(ChangePasswordForm.controls.oldpassword.touched) ? (ChangePasswordForm.controls.oldpassword.status == 'INVALID' )? 'is-invalid': 'is-valid' : ''">
                         <button (click)="password()">{{showbuttonvalue}}</button>
                         <!-- <span>{{ChangePasswordForm.controls.oldpassword.status == 'INVALID'}} </span> -->
                      </td>
                      </tr>
                      
                      <tr>
                      <td>New Password</td>
                      <td>
                          <input [type]="showbuttonvalue == 'Hide' ? 'text' : 'password'" class="form-control" required
                          formControlName="newpassword" name="newpassword" [(ngModel)]="newpassword" minlength="6" maxlength="20" placeholder="New Password" 
                          [ngClass]="(ChangePasswordForm.controls.newpassword.touched) ? (ChangePasswordForm.controls.newpassword.status == 'INVALID' )? 'is-invalid': 'is-valid' : ''">
                          <span *ngIf="ChangePasswordForm.controls.newpassword.touched && ChangePasswordForm.controls.newpassword.status == 'INVALID'"> Type minimum six words</span>        
                        <button (click)="password()">{{showbuttonvalue}}</button>         
                      </td>
                      </tr>
                
                      <tr>
                      <td>Confirm Password</td>
                      <td>
                          <input [type]="showbuttonvalue == 'Hide' ? 'text' : 'password'"  class="form-control" required
                          formControlName="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" minlength="6" maxlength="20" placeholder="Confirm password"  
                          [ngClass]="(ChangePasswordForm.controls.confirmPassword.touched) ? (ChangePasswordForm.controls.confirmPassword.status == 'INVALID' )? 'is-invalid': 'is-valid' : ''">                       
                               
                        <button (click)="password()">{{showbuttonvalue}}</button>
                      </td>
                      </tr>  
                
                </table>				
                <button class="btn btn-primary"> Submit</button>  
            </form>

              </div>
            </div>
            </div>
            </div>
             
            </div>
            </form>


</div>
<div class="col-lg-2 col-md-1 col-sm-1"></div>

    </div>
    </div>
    </section>