
.modal-input {
    background-color: #0a0e1d;
    margin-top: 61px;
    padding: 30px;
    /* height: 159px; */
}

i.fa.fa-map-marker
{
    margin-left: 15px;
    font-size: 23px;
    color: #000;
}
.modal-input input[type="text"] {
    padding: 9px 20px;
    border: none;
    width:92%;
    font-size: 15px;
}

.dropdown-toggle::after
{
   color: #fff;
}

li.login {
    cursor: pointer;
}

.portaldrop.show ul {
    list-style-type: none;
    padding: 0 5px;
    margin: 0;
}

ul.local-navigate {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.local-navigate li {
    float: left;
}

.dropdown-menu.portaldrop.show {
    min-width: 250px;
}

.portaldrop.show ul li {
    width: 50%;
    margin: 15px 0;
    text-align: center;
    float: left;
}

.portaldrop.show ul li a {
    color: #000!important;
    display: block;
}

a.dropdown-item {
    cursor: pointer;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
    cursor: pointer;
}

.prof-drop .fa {
    margin-top: 10px;
}

span#profile {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 0px;
    margin-top: -8px;
    text-transform: capitalize;
}

#sidebar {
    min-width: 250px;
    height: 100%!important;
    color: #fff;
    transition: all .6s cubic-bezier(.945,.020,.27,.665);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

#sidebar .sidebar-header {
    padding: 7px 0;
    background: #10172e;
}

.login a {
    margin-top: 7px;
    display: inline-block;
}

.rme-logo {
    width: 18%;
    height: 40%;
    margin-left: 40px;
}

.sidenav .closebtn {
    position: absolute;
    top: 3px;
    cursor: pointer;
    right: 7px;
    font-size: 30px;
}

.list-.components li {
    box-shadow: 0 2px 2px #35497d;
    padding: 5px 0;
}

.logout{
    background: #de9405!important;
    cursor: pointer;
}

#sidebar ul.components {
    padding: 20px 0;
}


#mySidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: #3f51b5;
    overflow-x: hidden;
    transition: .3s;
    padding-top: 0;
}
.modal-input input[type="text"]:focus {
   outline: none;
}
.modal-lg, .modal-xl {
    max-width: 1211px;
    margin: 0px;
}

.modal-input button {
    border: none;
    background: none;
    color: #000;
    cursor: pointer;
}
.modal-input .fa.fa-search {
    color: #0a5965;
    background-color: #28a745;
    border-radius: 100px;
    padding: 9px 10px 10px 10px;
    margin: 5px 0px;
}
.search-nav
{
    cursor: pointer;
}

.modal-input:before {
    content: "";
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: 52px;
    right: 12%;
    margin-left: -8px;
}